// Colors
$backgroundColor: #F9F9F9;
$lightFont: #F9F9F9;
$darkFont: #3C3C3C;
$paletteOne: #D4F1F4;
$paletteTwo: #75E6DA;
$paletteThree: #189AB4;
$paletteFour: #05445E;

// Fonts
$primaryFont: 'Lato', sans-serif;