@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import 'variables';
@import 'ComicCard';
@import 'Header-Footer';
@import 'Home';
@import 'NotFound';
@import 'StarRating';

// Custom styles
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  margin: 0;
  text-align: center;
  font-family: $primaryFont;
  color: $darkFont;
  background-color: $backgroundColor;
}

p {
  margin-bottom: 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
} 